body{
    padding: 0;
    padding: 0;
}

/* css page one */
.main{
    background-image: url(/images/banner/banner3.png);
    height: 100vh;
    width: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.info-banner{
    text-align: end;
   width: 40%;
   position: absolute;
   right: 0;
   padding-right: 200px;
   position: absolute;
   
   
   
   
}
 .banner-title{
    font-size:65px ;
    color: #ffffff;
    font-family: "ruboto";
    font-weight: 100px;  
    padding-left: 20%;
    

}
.banner-difo{
    text-align: end;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    font-style: normal;
    padding-left: 20%;
}
.button{

    width: 160px;
    height: 64px; 
    background-color: #ffffff;  
    color: #005fac;
    border: 0px solid ;
    border-radius:6px ;
}
.more-data{
    display: flex;
    margin-top: 5%;
    justify-content: center;
    align-items: center;
    

}
.imgs{
    height: 800px;
    width: 500px;
    text-align: center;
    margin-left: 10%;
}
.more-title{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    margin-left: 5cm;
    color: #151414;
    padding-right: 25%;
}
.more-desciription{

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin-left: 5cm;
    padding-right: 25%;
    color: #444343;
}
.more-desciription1{

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    margin-left:5cm;
    padding-right: 25%;
    color: #444343;
}

/* My more Plans */
.bold{
    text-align: center;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    padding-top: 3%;
    padding-bottom: 2%
}
.icons{
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}

.icon{
    justify-content: center;
    align-items: center;
    text-align: center;
}
.img-icon{
    
}
.icon-title{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    color: #151414;

}
.icon-sub-title{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    color: #737272;

}
.times{
    background-image: url(/images/watch.png);
    background-size: cover;
    background: linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%);
    margin-left: 230px;
    margin-right: 230px;

}


    
.time-title{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
}

.bottom-banner{

    background-image: url('/images/watch.png');
    width: 70%;
    display: flex;
    height: 260px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;
    border-radius: 8px;
    margin: 0 auto;
    margin-top: 100px;

}

.bottom-banner-child{
    background: linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%);   width: 70%; 
    height: 260px;
    border-radius: 8px;
    position: absolute;
    margin: 0 auto;
}

.btn-title{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    text-align: start;
    width: 50%;
    padding-left: 64px;
    color: #ffffff;
}
.bottom-banner-content{
    text-align: start;
}
.btn{
    font-family: 'Work Sans';
    width: 130px;
    height: 50px;
    border-radius: 6px;
    margin-left:64px ;
    border: 0px solid ;
    font-size: 20px;
}

.footer{
    background-color: #151414;
    width: 100%;
    height: 80vh;
    margin-top: 120px;
}

.footer-content{
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
}

.left-footer-content{
    width: 80%;
    height: 78vh;
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.left-title{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    color: #f8f8f8;
    margin-top: 0px;
    margin-bottom: 0px;
}

.left-content{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.left{
    width: 40%;
}

.right{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.footer-desc{
    font-family: 'Work Sans';
    font-weight: 400;
    font-size: 16px;
    color: #fff;
}

.social-media{
    padding: 8px;
}

.subscribe-title{
    font-family: 'Work Sans';
    font-weight: 600;
    font-size: 25px;
    color: #fff;
}
input{
    width: 325px;
    height: 64px;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    font-size: 18px;
    padding-left: 15px;
    color: #ffffff;
    background-color: #151414;
    background-color: transparent;
    

}
button{
    
    font-family: 'Work Sans';
    width: 179px;
    height: 64px;
    border-radius: 8px;
    border: 0px solid ;
    font-size: 20px;
    margin-top: 15px;
    background: #005FAC;
    color: #FFFFFF;
    
}

